@media screen and (max-height: 900px) {
  .nav-section {
    height: 10vh;
  }
  .banner {
    height: 90vh;
  }
  .main-header {
    font-size: 2.5rem;
  }
  .sub-header {
    font-size: 2rem;
  }
  .welcome-section-content {
    height: 60%;
  }
  .offer-section {
    height: 80vh;
  }
  .about-header {
    height: 90vh;
  }
  .divided-div {
    height: 70vh;
  }
}
