.columns-section {
  height: 60vh;
  // height: 510px;
  background-color: $accent5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/camera.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 95%;
  margin-bottom: 5px;
}
.columns-section-content {
  display: flex;
  @include container;
  width: 90vw;
  height: 50%;
}
.columns-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.vertical-line {
  width: 1px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.about-columns-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
  background-color: $accent5;
  .testimonials-item {
    width: 30%;
  }
}
