.login-content-div {
  height: 93vh;
  background-image: url("../../assets/headerimg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-content {
  width: 30vw;
  height: 50vh;
  background: rgba($color: #000000, $alpha: 0.6);
  padding: 0 20px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;
  // align-items: center;
}
.toggle-label {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 8px;
  border: 1px solid $accent2;
  border-radius: 20px;
  margin: 25px auto;
}
.toggle-label input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.toggle-label input[type="checkbox"] + .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $accent5;
  transition: background 150ms linear;
  border-radius: 20px;
}
.toggle-label input[type="checkbox"]:checked + .back {
  background: $accent5; /*green*/
}

.toggle-label input[type="checkbox"] + .back .toggle {
  display: block;
  position: absolute;
  content: " ";
  background: $accent2;
  width: 50%;
  height: 100%;
  transition: margin 150ms linear;
  border: 1px solid $accent2;
  border-radius: 0;
  border-radius: 20px;
}
.toggle-label input[type="checkbox"]:checked + .back .toggle {
  margin-left: 50%;
}
.toggle-label .label {
  display: block;
  position: absolute;
  width: 50%;
  color: $font-contrast;
  text-align: center;
  height: 100%;
  line-height: 50px;
}
.toggle-label .label.on {
  left: 0px;
}
.toggle-label .label.off {
  right: 0px;
}

.toggle-label input[type="checkbox"]:checked + .back .label.on {
  color: #000;
}
.toggle-label input[type="checkbox"] + .back .label.off {
  color: #000;
}
.toggle-label input[type="checkbox"]:checked + .back .label.off {
  color: $font-contrast;
}
.vertical-line {
  width: 1px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-element input {
  border: none;
  border-bottom: 2px solid $accent2;
  width: 100%;
  padding: 7px 0;
  background: none;
  color: $font-contrast;
}
.form-element input:focus {
  border: none;
  border-bottom: 2px solid $accent3;
  width: 100%;
  background: none;
  color: $font-contrast;
}
::placeholder {
  color: $font-contrast;
}
.error-message {
  color: $accent2;
  font-size: 0.8rem;
  margin-top: 7px;
}
.form-control-button {
  width: 80%;
  padding: 10px 5px;
  border-radius: 20px;
  border: 1px solid $accent2;
  background: $accent2;
  color: $font-contrast;
  align-self: center;
  cursor: pointer;
}
.login-form-div {
  height: 70%;
}
.login-form-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.login-form {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-header {
  color: $font-contrast;
}
.form-login {
  justify-content: flex-start;
}
.form-login > * {
  margin-bottom: 27px;
}
