.welcome-section {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-section-content {
  width: 60vw;
  height: 50%;
  @include container;
}
.horizontal-line {
  width: 20vw;
  border-top: 1px;
}
