.welcome-section {
  height: 40vh;
  // height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-section-content {
  width: 60vw;
  height: 50%;
  @include container;
}
.horizontal-line {
  width: 20vw;
  border-top: 1px;
}
@media screen and (max-height: 900px) {
  .welcome-section {
    height: 50vh;
  }
  .welcome-section-content {
    height: 60%;
  }
}
